<h1>CHATTING APP</h1>
<form action="/destroy" method="POST">
<button type="submit" >SIGN OUT</button>
</form>

<%= locals.user %>
<img src="<%= post.avatar%>" width="100px">
<%- include('chattingbox') ;%>