
<form action="/create-session" method="POST">
    <input type="text" name="email" required >
    <input type="text" name="password" required>
    <button type="submit">  SIGN_IN</button>
</form>
